@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

button {
background-color:  white;
text-decoration: wavy;
border-radius: 3px;
border: solid 2px white;
transition: all 0.3s ease-in-out;
}

body {
    background-color: white;
}